<nav class="navbar navbar-expand-lg navbar-light bg-dark" (scroll)="onScroll()" [ngClass]="navbarfixed ? 'fixed' : 'nofixed'">
    <a class="navbar-brand" href="/"><img src="/sword-and-shield-icon-16.jpg" class="logo">JOBQUEST</a>
  
      <div class="container-fluid d-flex flex-row justify-content-end">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/jobs">Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Advices</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/companies">Companies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li *ngIf="isCompany" class="nav-item">
              <a class="nav-link" href="/myjobs">My Posts</a>
            </li>
            <li class="nav-item" *ngIf="!currentUser">
              <button mat-raised-button [matMenuTriggerFor]="loginMenu" class="btn login" style="width: 200px;background-color: #0178fa; color: white;">LOGIN</button>
              <mat-menu #loginMenu="matMenu" class="loginMenu d-flex flex-column align-items-center">
                <button mat-menu-item routerLink="/login">Login as Candidate</button>
                <button mat-menu-item routerLink="/loginCompany">Login as Company</button>
              </mat-menu>
            </li>
            <div *ngIf="currentUser" class="d-flex flex-row userDiv">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
                
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="goToDocuments()">
                  <mat-icon>folder</mat-icon>
                  My Documents
                </button>
                <button mat-menu-item (click)="goToApplications()">
                  <mat-icon>assignment</mat-icon>
                  My Applications
                </button>
                <button mat-menu-item (click)="goToProfile()">
                  <mat-icon>person</mat-icon>
                  Profile
                </button>
                <button mat-menu-item (click)="logout()">
                  <mat-icon>exit_to_app</mat-icon>
                  Logout
                </button>
              </mat-menu>
            </div>
            
          </ul>
      </div>
    </nav>
