.fixed {
    position: fixed;
    width: 100%;
    transition: 0.1s linear;
    top: 0px;
}

.nofixed {
    position: static;
    transition: 0.1s linear;
    top: -50px;
}

.navbar-brand {
    margin-left: 100px;
    color: white;
    padding-top: 20px;
}

.logo {
    width: 40px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.navbar {
    height: 75px;
    font-family: 'Playwrite FR Moderne', cursive;
    z-index: 1000;
}

.login {
    margin-left: 50px;
    margin-right: 25px;
    transition: 0.3s ease;
    font-family: 'Playwrite FR Moderne', cursive;
    color: #0178fa;
}

.login:hover {
    transform: scale(1.1);
}

.nav-link {
    color: white;
    margin: 0px 5px;
    transition: 0.3s;
}


.nav-link:hover {
    transform: scale(1.1);
}

.btn {
    border: solid 1px white;
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 25px;
}


::ng-deep .loginMenu {
    margin-top: 10px !important;
    width: 200px !important; /* Adjust this value to your preference */
    background-color: #0178fa !important;
    border-radius: 25px !important;
  }

::ng-deep .loginMenu button {
    color: white !important;
}

.userEmail h5 {
    color: white;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Playwrite FR Moderne', cursive;
}

.userDiv {
    border: 5px solid #0178fa;
    border-radius: 25px;
    margin-left: 100px;
}
