<section class="banner d-flex flex-column align-items-center justify-content-center">
    <h1>Welcome to JobQuest</h1>
    <h3>where adventures begin!</h3>
    <button mat-raised-button class="banner-button" (click)="redirectToJobs()">Search for jobs</button>
</section>
<section class="content-1 d-flex flex-row">
    <div class="content-1-text d-flex flex-column align-items-center justify-content-center">
       <h3 style="font-size: 25px;"> Welcome to JobQuest – Your Gateway to Career Opportunities</h3>

        <p>At JobQuest, we understand that finding the right job can be a journey. Whether you're a seasoned professional looking for new challenges or just starting your career path, JobQuest is here to guide you every step of the way. Our platform connects talented individuals with top employers, offering a seamless experience that matches skills with opportunities.</p></div>
    <div class="content-1-image d-flex align-items-center justify-content-center"><img src="/forest.jpg" alt="forest"></div>
</section>
<section class="content-2 d-flex flex-row">
    <div class="content-2-image d-flex align-items-center justify-content-center"><img src="/knights.jpg" alt="knights"></div>
    <div class="content-2-text d-flex flex-column align-items-center justify-content-center">
        <h3 style="font-size: 25px;">Discover Your Future</h3>
        <p>Explore a comprehensive database of job listings curated to match your skills and aspirations. From entry-level positions to executive roles, JobQuest features opportunities across diverse industries and locations. Apply to jobs with ease using our intuitive application platform. Upload your resume, cover letter, and portfolio to showcase your qualifications to potential employers.</p></div>
</section>
