.jobTitle {
    height: 25vh;
    background-color: #424242;
    color: white;
    padding: 30px;
}

.backButton {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    position: absolute; /* Absolute positioning for the left alignment */
    left: 50px; /* Adjust this value to position it where needed */
    top: 100px; /* Adjust the top spacing */
    
    mat-icon {
      margin-right: 5px;
    }
  
    span {
      font-size: 16px;
      font-weight: bold;
    }
  
    &:hover {
      color: lightgray;
    }
  }

  .fileInput {
    width: 500px;
    margin-top: 50px;

    

    mat-label {
      color: white;
    }
  }
  
  .jobTitleContent {
    position: relative; /* So the back button aligns relative to this */
    width: 100%;
  }
  
.jobTitleContent {
    padding: 50px;
    width: 80%;
    border: 5px solid #ff972f;
    height: 100%;
    margin-top: 50px;
    border-radius: 25px;
    font-family: 'Playwrite FR Moderne', cursive;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('/planks.png');
}



.jobTitleContent h2,h3 {
    font-family: 'Playwrite FR Moderne', cursive;
}

.jobDescription {
    height: 100%;
    background-color: #424242;
    margin: 50px 0px ;
}

.jobDescriptionContent {
    width: 77%;
    color: white;
    font-family: 'Playwrite FR Moderne', cursive;
    border: 5px solid #0178fa;
    border-radius: 25px;
    padding: 50px;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds container */
    max-height: 80vh; /* Limit maximum height to 70% of viewport height */
}

.sendCVButton {
    margin-top: 25px;
    width: 200px;
    color: white !important;
    background-color: #0178fa !important;
    transition: 0.3s ease;
}


.sendCVButton:disabled {
    background-color: #cccccc !important; /* A light grey color for disabled state */
    color: #888888 !important; /* A grey text color */
    cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
    opacity: 0.6; /* Slightly fade out to indicate it's disabled */
  }

.sendCVButton:hover {
    transform: scale(1.05);
}