<main class="mainContent">
  <!-- SEARCH -->
  <section class="searchJobPosts one column grid">

    <h1 style="text-align: center;">Search Job Posts</h1>
    <mat-form-field appearance="outline" class="custom-search-field">
      <mat-label>Search Job Posts....</mat-label>
      <input type="text" matInput [(ngModel)]="searchTerm">
    </mat-form-field>
  
    

    
    <!-- Filter button placed below the search field -->
    <div class="filter-button-container">
      <button mat-raised-button (click)="toggleFilters()">
        <mat-icon>filter_list</mat-icon> Filter
      </button>
      <button mat-raised-button (click)="onSearch()">Search</button>
    </div>
  </section>
  

  <!-- FILTERS DROPDOWN -->
  <section *ngIf="showFilters" class="filters-section" style="margin-top: 10px;">
    <h2>Filters</h2>

    <div class=" three column grid">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Field of Work</mat-label>
        <mat-select [(ngModel)]="fieldOfWork">
          <mat-option *ngFor="let field of fieldsOfWork" [value]="field">{{ field }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Location</mat-label>
        <mat-select [(ngModel)]="location">
          <mat-option *ngFor="let loc of locations" [value]="loc">{{ loc }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Company</mat-label>
        <mat-select [(ngModel)]="company">
          <mat-option *ngFor="let company of companies" [value]="company">{{ company }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    

    <button mat-raised-button style="width: 100%; color: white; background-color: #0178fa;" (click)="onFilter()">Apply Filters</button>
  </section>

  <!-- JOB POSTS -->
  <div *ngIf="filteredJobPosts.length == 0" style="height: 75vh;" class="d-flex flex-column align-items-center justify-content-center">
    <h1 style="color: white; font-family: 'Playwrite FR Moderne', cursive;">There is no data to be loaded :( </h1>
  </div>
  <section class="two column grid" style="gap: 50px; margin-bottom: 50px;">
    <div
      *ngFor="let jobPost of filteredJobPosts"
      class="jobPost d-flex flex-row justify-content-between"
    >
      <div>
        <div>
          <div class="d-flex flex-row">
            <i
              class="fa-solid fa-signs-post"
              style="font-size: 50px; margin-right: 20px"
            ></i>
            <h2 style="font-size: 30px; font-weight: bold">
              {{ jobPost.title }}
            </h2>
          </div>
          <h5 style="font-size: 20px">{{ jobPost.company.companyName }}</h5>
        </div>

        <div>
          <p>{{ jobPost.location }}</p>
          <p>{{ truncateDescription(jobPost.description, 2) }}</p>
          <p>Ends at : {{ jobPost.endsAt | date:'dd.MM.yyyy'}}</p>
          <p *ngIf="checkIfApplied(jobPost.id)" style="color: greenyellow;">You have applied for this position!</p>
        </div>

        <!-- Apply button stays at the bottom -->
        <div class="jobPost-footer">
          <mat-chip class="chips d-flex flex-row align-items-center">{{
            jobPost.fieldOfWork
          }}</mat-chip>
          <button
            mat-raised-button
            class="apply-button"
            (click)="apply(jobPost.id)"
          >
            Read more!
          </button>
        </div>
      </div>
      <div>
        <img src="/logo-placeholder-image.png" alt="" width="200px" />
      </div>
    </div>
  </section>
</main>
