.jobPost {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('/planks.png');
    border: 5px solid #ff972f;
    border-radius: 25px;
    padding: 20px;
    height: 400px;
    color: rgb(245, 221, 221);
    margin: 50px 0px;
    font-family: 'Playwrite FR Moderne', cursive;
}

.jobPost h2, h5 {
    font-family: 'Playwrite FR Moderne', cursive;
}

.jobPostsSection {
    height: 100%;
    background: #424242;
}

.searchJobPosts {
    background-color: #424242;
    color: white;
    height: 25vh;
}

.searchJobPosts h1 {
    font-family: 'Playwrite FR Moderne', cursive;
}

.mainContent {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #424242;
    padding-top: 2.5%;
}

.apply-button {
    background: #ff972f !important;
    color: white !important;
    width: 40%;
    margin-top: 20px;
    transition: 0.3s ease;
}

.apply-button:hover {
    transform: scale(1.1);
}

.jobPost .chips {
    background-color: #0178fa;
    color: white;
    font-size: 14px;
    margin: 4px;
    width: 50px;
  }
