<main class="mainContent">
  <!-- SEARCH -->
  <section class="searchJobPosts one column grid">
    <div class="d-flex flex-column align-items-center">
      <h1>Search for jobs!</h1>
    </div>
    <mat-form-field appearance="outline" style="height: 100px;">
      <mat-label style="color: white;">Search Job Posts....</mat-label>
      <input type="text" matInput style="color: white">
    </mat-form-field>
    <button mat-raised-button style="width: 500px;">Search!</button>
  </section>

  <!-- JOB POSTS -->

  <section class="two column grid" style="gap: 50px;">
    <div
      *ngFor="let jobPost of jobPosts"
      class="jobPost d-flex flex-row justify-content-between"
    >
      <div>
        <div>
          <div class="d-flex flex-row">
            <i
              class="fa-solid fa-signs-post"
              style="font-size: 50px; margin-right: 20px"
            ></i>
            <h2 style="font-size: 30px; font-weight: bold">
              {{ jobPost.title }}
            </h2>
          </div>
          <h5 style="font-size: 20px">{{ jobPost.company.companyName }}</h5>
        </div>

        <div>
          <p>{{ jobPost.location }}</p>
          <p>{{ truncateDescription(jobPost.description, 2) }}</p>
          <p>Ends at : {{ jobPost.endsAt | date:'dd.MM.yyyy'}}</p>
        </div>

        <!-- Apply button stays at the bottom -->
        <div class="jobPost-footer">
          <mat-chip class="chips d-flex flex-row align-items-center">{{
            jobPost.fieldOfWork
          }}</mat-chip>
          <button
            mat-raised-button
            class="apply-button"
            (click)="apply(jobPost.id)"
          >
            Apply
          </button>
        </div>
      </div>
      <div>
        <img src="/logo-placeholder-image.png" alt="" width="200px" />
      </div>
    </div>
  </section>
</main>
