/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html, body { height: 100%; }
body { margin: 0; font-family: 'Playwrite FR Moderne', cursive; }

@font-face {
    font-family: 'Playwrite FR Moderne';
    src: url("app/assets/fonts/PlaywriteFRModerne-Regular.ttf") format('truetype');
    font-weight: normal;
  font-style: normal;
}
