.document-list-container {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  
    h2 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
      color: #3f51b5;
      font-family: 'Playwrite FR Moderne', cursive;
    }
  
    mat-list {
      background-color: white;
      border-radius: 5px;
    }
  
    mat-list-item {
      margin-bottom: 10px;
      padding: 15px 10px;  // Dodaj više prostora unutar svakog list itema
      min-height: 70px;    // Postavi minimalnu visinu stavke liste
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ddd;
  
      mat-icon {
        margin-right: 15px;  // Dodaj prostor između ikone i teksta
      }
  
      div[matLine] {
        display: block;
        line-height: 1.5;  // Povećaj razmak između redova unutar stavke
      }
    }
  
    mat-icon {
      color: #3f51b5;
    }
  }

  .mainContent {
    flex: 1;                   // Obezbeđuje da glavni sadržaj zauzima raspoloživi prostor između navbar-a i footera
    padding: 20px;             // Dodaj padding za malo prostora unutar glavnog sadržaja
    background-color: #424242;
    color: white; // Opcionalno: postavi pozadinu da se razlikuje od footera
    height: 75vh;

  }
  
  .document-list-container {
    background-color: white;    // Postavi pozadinsku boju za dokumente
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  